.card {
  transition: transform 0.2s ease, shadow 0.2s ease;
  cursor: pointer;
  font-size: 2rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1) !important;
}

.badge {
  font-weight: 500;
  padding: 0.5em 1em;
}

#SearchBar {
  border: 2px solid #eee;
  padding: 0.6rem 1.5rem;
  max-width: 450px;
}

#SearchBar:focus {
  border: 2px solid violet;
  outline: none;
}