/* --- FOOTER GENERAL --- */
.footer-custom {
  background-color: #171a21;
  color: #ffffff;
  font-size: 2rem;
}

.newsletter-title {
  font-size: clamp(1.4rem, 4vw, 3rem);
}

.footer-link {
  color: #e9ecef;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
  transition: all 0.3s ease;
  display: inline-block;
}

.footer-link:hover {
  color: var(--brand-color);
  transform: translateY(-2px);
}

.footer-link-muted {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link-muted:hover {
  color: #ffffff;
}

.custom-input-group {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #495057;
  border-radius: 50px;
  max-width: 800px; 
  overflow: hidden;
  transition: all 0.3s ease;
}

.custom-input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.form-control{
  font-size: clamp(1.2rem, 1.2vw, 2rem)!important;
}

@media (max-width: 767px) {
  .custom-input-group {
    border-radius: 15px;
    background-color: transparent;
    border: none;
  }
  .custom-input-group .form-control {
    border: 1px solid #495057 !important;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.05) !important;
  }
  .btn-subscribe {
    border-radius: 50px !important;
    width: 100%;
  }
  .row p{
    font-size: 1.2rem;
  }
}

.custom-input-group .form-control::placeholder {
  color: #888;
}

.btn-subscribe {
  background-color: var(--brand-color);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: clamp(1rem, 1.2vw, 2rem);
  border-radius: 0;
  transition: all 0.3s ease;
}

.btn-subscribe:hover {
  background-color: var(--brand-color-hover);
  color: white;
  letter-spacing: 1px;
}

.social-icons a:hover {
  color: var(--brand-color) !important;
  opacity: 1 !important;
}