.hero-container {
  width: 90%;
  max-width: 1800px;   
  margin-bottom: 5rem;
}

.hero-img-custom {
  width: 100%;
  height: 550px;
  object-fit: cover;   
  object-position: center 50%;
}

.custom-btn-responsive {
  font-size: 2rem;
}

/* Responsivitat (Mobile First) */
@media (max-width: 768px) {
  .hero-img-custom {
    height: 250px;
  }
  
  .display-2 {
    font-size: 3rem;
  }

  .custom-btn-responsive {
    font-size: 1.2rem;
  }
}