@import url(./components/hero.css);
@import url(./components/navbar.css);
@import url(./components/footer.css);
@import url(./components/cards.css);
@import url(./components/reviews.css);

:root {
  --brand-color: #b90088;
  --brand-color-hover: #96006e;
}

body::-webkit-scrollbar{
  display: none;
}

.text-brand {
  color: var(--brand-color) !important;
}

.btn-brand {
  background-color: var(--brand-color);
  color: white;
  border: 1px solid var(--brand-color);
}

.btn-brand:hover {
  background-color: var(--brand-color-hover);
  border-color: var(--brand-color-hover);
  color: white;
}

.btn-outline-brand {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  background-color: transparent;
}

.btn-outline-brand:hover {
  background-color: var(--brand-color);
  color: white;
}

.icon-gegant {
  font-size: 5rem;
}
