@import url(./components/hero.css);
@import url(./components/navbar.css);
@import url(./components/footer.css);

/* Definim els colors corporatius de la marca */
:root {
  --brand-color: #b90088; /* Aproximació al magenta del disseny */
  --brand-color-hover: #96006e;
}

/* Utilitats de color personalitzades per complementar Bootstrap */
.text-brand {
  color: var(--brand-color) !important;
}

/* Botó principal (fons ple) */
.btn-brand {
  background-color: var(--brand-color);
  color: white;
  border: 1px solid var(--brand-color);
}

.btn-brand:hover {
  background-color: var(--brand-color-hover);
  border-color: var(--brand-color-hover);
  color: white;
}

/* Botó secundari (vora) */
.btn-outline-brand {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  background-color: transparent;
}

.btn-outline-brand:hover {
  background-color: var(--brand-color);
  color: white;
}

.icon-gegant {
  font-size: 5rem;
}
